@import "../../constants";

.our-partners {
  
  &-title {
    margin-top: 50px;
    margin-bottom: 24px;
    @include phone {
      text-align: left;
    }
  }

  &-text {
    margin: 0px 400px 0px 3%;
    padding-bottom: 20px;
  }

  & {
    background-image: url("../../resources/images/WiCSBg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #19123c;
    text-align: left;
    img {
      margin-left: 20%;
    }

    .button {
      border-radius: 40px;
      border: 1px solid #7676e8;
      background-color: transparent;
      color: black;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 20px;
      margin-left: 20%;
    }
  }
}
