@import "../../../constants";

.container {
    display: flex;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.counts {
    display: flex;

}

.count {
    margin-right: 18px;

}

.box {
    width: 89px;
    height: 89px;
    background: $grey-purple1;
    border-radius: 8px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 2px solid $grey-purple1;
}