@import "../../constants";

.showcase-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: 250px;
    color: black;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 5px;
      margin-block: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #FFFAF3;
      border-radius: 4px;
      margin-right: 50px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      width: 5px;
      background-color: #7676E8;
    }

    // TODO: add supports fro firefox

    @include phone {
      margin: 0px;
    }
  }
  
.showcase {
  &-img {
    width: 50%;
    height: 20%;
    padding: 50px;
  }

  &-card {
    background-image: url("../../resources/images/WiCSBg.png");
    background-repeat: no-repeat;
      background-size: 100% 100%;
      min-width: 60%;
      height: 400px;
      margin: 50px 50px 70px 0;
      position: relative;
  }

  &-content {
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-quote {
  }

  &-button {
    position: absolute;
    bottom: 0;
    border-radius: 40px;
    border: 1px solid #7676e8;
    background-color: transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20%;
  }

  &-button-content {
    display: flex;
    padding: 10px 20px;
    color: linear-gradient(to right, #19123C, #7676E8);
    align-items: center;
    p {
      margin-right: 20px;
    }
  }
  
    // height: 100px;
}
  