@import "../../constants";

#judges {
    position: relative;
}

.judge-photos {
    display: flex;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-top: 48px;
    gap: 15px;
}

.judge-photos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.left {
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: 65%;
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-color: white transparent transparent white;
    transform: rotate(-45deg);
}

.right {
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 65%;
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-color: white transparent transparent white;
    transform: rotate(135deg);
}

.judge-img {
    border-radius: 50%;
    align-self: flex-start;
    width: 170px;
    height: 170px;
    
    
    @include tablet {
        width: 150px;
        height: 150px;
    }
    
    @include phone {
        width: 120px;
        height: 120px;
    }
}

.judge-detail {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 35%;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    span {
        width:0; 
        height:0; 
        font-size:0; 
        overflow:hidden; 
        position:absolute;
    }
}

.judge-img-big-wrapper {
    border-radius: 50%;
    padding: 7px;
}

.judge-img-small-wrapper {
    border-radius: 50%;
    padding: 5px;
}



.judge-img-big-wrapper:hover + .judge-detail {
    display: block;
}

.judge-wrapper:hover .judge-img-big-wrapper {
    border: 1px solid white;
}

.judge-wrapper:hover .judge-img-small-wrapper {
    border: 0.5px solid white;
}
